.navbar>.container .navbar-brand {
	margin-left: -12px;

}

@media (max-width: 767px) {
	.navbar>.container .navbar-brand {
		margin-left: 0px;
	}
}

.navbar-nav {
	float: right;
}

@media (max-width: 767px) {
	.navbar-nav {
		float: left;
	}
}

body {
	padding-top: 40px;
}

.page-header {
	border-width: 0px;
	padding-bottom: 0px;
}

h2, h3, h4{
	margin-top: 0px;
	margin-bottom: 0px;
}

.home .img {
	padding-left: 0px;
}

@media (max-width: 767px) {
	.home .about {
		padding-left: 0px;
	}
}

.experience, .skills{
	padding-left :0px;
}

.experience, .publication, .presentation, .project {
	margin-bottom: 12.5px;
}

.group {
	clear: both;
}

p.about  {
	margin-bottom: 0px;
}

.experience h2, .presentation h2, .publication h2, .skills h3 {
	display: inline;
}

.accordion-toggle, .accordion-toggle:hover, .accordion-toggle:focus {
	color: #5bc0de;
	text-decoration: none;
}

#footer svg{
	margin-left: 16px;
	width: 16px;
}